<h2>Template Básico</h2>
<hr/>

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #miFormulario="ngForm">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">
          Nombre
        </label>
        <div class="col-sm-9">
          <input class="form-control"
            type="text"
            placeholder="Ingrese nombre"
            [ngModel]="personaInicial.nombre"
            name="nombre"
            required
            minlength="3"
          />
          <span
            class="form-text text-danger"
            *ngIf="nombreValido()"
          >
            Debe ser de al menos 3 letras
          </span>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">
          Edad
        </label>
        <div class="col-sm-9">
          <input class="form-control"
            type="number"
            placeholder="Ingrese edad"
            [ngModel]="personaInicial.edad"
            name="edad"
            customMin
            [minimo]="0"
          />
          <span
            class="form-text text-danger"
            *ngIf="edadValida()"
          >
            Debe ser mayor a 0
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit"
            class="btn btn-primary float-end"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valido</span>
    <pre>Status: {{ miFormulario.status }}</pre>
    <pre>Pristine: {{ miFormulario.pristine }}</pre>
    <pre>Touched: {{ miFormulario.touched }}</pre>
  </div>
</div>
