<h2>Template Dinámico</h2>
<hr/>

<div class="row">
  <div class="col">
    <form [formGroup]="miFormulario">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">
          Nombre
        </label>
        <div class="col-sm-9">
          <input class="form-control"
            type="text"
            placeholder="Ingrese nombre"
            name="nombre"
            required
            minlength="3"
            formControlName="nombre"
          />
        </div>
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Recipient's username"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          Agregar
        </button>
      </div>
      <div class="row mb-3" formArrayName="documentos">
        <div *ngFor="let doc of documentosArr.controls; let i = index">
          <div class="col-sm-9">
            <input
              class="form-control"
              name="archivo"
              [formControlName]="i"
            />
          </div>
          <button class="btn btn-outline-primary col-sm-3">Eliminar</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit"
            class="btn btn-primary float-end"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<span>
  <pre>{{ miFormulario.value | json }}</pre>
  <pre>{{ miFormulario.controls['documentos'] | json }}</pre>
</span>

<!-- *ngFor="let doc of miFormulario.controls['documentos']?.controls" -->